.details-container {
    display: flex;
    width: 80%;
    background-color: rgb(255, 255, 255);
    padding: 5%;
    flex-wrap: wrap;
    margin-left: 5%;
}

.details-container__environmental-title {
    width: 50%;
    color: rgb(255, 0, 0)
}

.details-container__close-button {
    width: 50%;
    text-align: right;
    font-size: 1.2em;
    cursor: pointer;
}

.details-container__subject-element {
    width: 70%;
    font-size: 1.3em;
}

.details-container__sent-msg {
    width: 100%;
    color: rgb(124, 124, 124)
}

.details-container__answered-icon {
    font-size: 1.7em;
}

.details-container__warning-icon {
    font-size: 1.7em;
    color: rgb(235, 27, 40)
}

.details-container__closed-icon {
    font-size: 1.7em;
    opacity: .5;
}

.details-container__hr {
    margin-top: 3%;
    width: 100%;
    color: #0000;
}

.details-container__title {
    width: 100%;
}

.details-container__request-name {
    width: 65%;
    color: rgb(124, 124, 124)
}

.details-container__date {
    width: 35%;
    color: rgb(124, 124, 124)
}

.details-container__message {
    text-align: justify;
    padding-top: 3%
}

.details-container__answer-request {
    height: 2.5em;
    background-color: rgb(235, 27, 40);
    color: #fff;
    width: 40%;
    border-radius: 50px;
    border: none;
    margin-top: 3%;
    margin-left: auto;
}